* {
  margin: 0; /* Tira todas margens por padrão da página*/
  padding: 0; /* Tira todos os preenchimentos das margens por padrão da página*/
  box-sizing: border-box;
}
body * {
  font-family: "Inter", sans-serif;
  color: rgb(0, 0, 0);
}
body {
  /*A forma extendida:*/
  min-height: 100vh; /* Garante que o body tenha pelo menos a altura da viewport */
  background-image: url("Assets/fundo_4.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /*Essa é a forma enxuta
  backgro
  und: url("imagem,jpg") no-repeat top center/cover;*/
}
#caixa_geral {
  width: 400px;
  height: 800px;
  margin: auto;
}
#perfil {
  text-align: center;
  padding: 50px;
}
#perfil img {
  width: 250px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}
